<%- include('base-header') -%>
<ul>
    <% for(let i = 0; i < memoList.length; i++) { %>
        <li>
            <div class="card">
                <p>#<%= memoList[i].id %></p>
                <p>Title: <%= memoList[i].title %></p>
                <p>Description: <%= memoList[i].descr %></p>
            </div>
        </li>
    <% } %>
</ul>
<%- include('base-footer') -%>